* {

    padding:;
    margin:;
} 

button {
    background-color: forestgreen;
    color: white;
}

button:hover {
    background-color: ;
}

hr {
    color: white;
}

ul {
    display: contents;
}

ul > li > a {
    text-decoration: none;
} 

.link-no-underline {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

.btn-font{
    color:;
    font-weight:;
}

.btn-border {
    border:;
}

.box-with-border {
    border: .5em #333;
    padding:;
}

.title-grn {
    color:green;
}

.title-lrg {
    font-size:;
}

#logo-art{
    width: 30%;
}

#sydney-art{
    width: 100%;
    height: 100%;
}

#investment-art{
    width: 40%;
}

#woodside-tree-art{
    width: 50%;
}

#disclaimer {
    color:;
}

#shorter-box{
    width:;
}

#double-column{
    width:;
}

#triple-column {
    width:;
}

#quintuple-column {
    width:;
}

#footer-nav {
    width:;
    background-color: forestgreen;
}

.forest-green{
    background-color: forestgreen;
} 
.space-down {
    margin-bottom:5rem;
}