* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    position: relative;
}

.bottom {
   position: absolute; 
}

footer > ul>li>a {
    text-decoration: none;
    color: white;
}

h2  {
    font-weight: 400;
}

h4 {
    font-weight:bold;
}

button {
    background-color: #007a53 !important;
    color: white;
    font-weight: bold;
    padding: 1%;
    border-radius: 0.3em;
    }

.width20 {
    width: 20%;
}

button:hover {
    background-color: #0e8c21 !important;
}

hr {
    color: white;
}

ul {
    display: contents;
}

ul > li > a {
    text-decoration: none;
} 

.link-no-underline {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}

/* .btn-font{
    color:;
    font-weight:;
} */

/* .btn-border {
    border:;
} */

.box-with-border {
    border: 0.1rem solid #000;
    padding: 0.5rem;
    font-style: italic;
}

.forest-green, footer, footer > a {
    background-color: #034638;
    color: white;
}

footer {
    padding: 2rem;
}


.smaller-space-down {
    margin-bottom: 2rem;
}
.title-grn {
    color:green;
}

/* .margin2 {
    margin: 2rem;
} */

.white-background {
    background-color: white;
    color:#000;
}

.white-text {
    color: white;
}

#logo-art{
    width: 30%;
}

#sydney-art{
    width: 100%;
    height: 100%;
}

.image-art{
    width: 42%;
}

.align-items-ctr {
    display: flex;
    align-items: center;
}

/* 
#disclaimer {
    color:;
}

#shorter-box{
    width:;
}
*/
.double-column{
    display: flex;
}

.carousel-card {
    width: 18vw;
    height: 48vh;
}

.triple-column {
    display: -webkit-box;
    padding: 1rem;
    width: min-content;
} 

#services {
    width: 32vw;
    margin: 1rem;
}

.powder-blue{
    background-color: powderblue;
}

/* #quintuple-column {
    width:;
} */

#middle-of-space {
    margin-top: 5rem;
    margin-bottom: 5rem;    
}

#commentary {
    height: 60vh;
    padding: 2rem 20rem;
}

#yellow-strip{
    background-color: rgb(130, 130, 0);
    height: 2vh;
}

#blue-strip{
    background-color: rgb(0, 55, 137);
    height: 2vh;
}

#green-strip{
    background-color: rgb(0, 114, 4);
    height: 2vh;
}

/* .executive-summary{
    background-color: white;
} */

.box-size {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
    }

#executive-background{
    background-color: #00bcd4;
}

.box-margin {
    padding: 1rem;
    margin: 2rem;
}